* {
	box-sizing: border-box;
	margin: 0;
}
h1 {
	margin: 20px;
	text-align: center;
}
section {
	background-color: lightgrey;
	border: solid black 1px;
	margin: 10px;
}
.chicken {
	background-color: goldenrod;
	display: inline;
	padding: 1px 10px 1px 10px;
}
.beef {
	background-color: darkgreen;
	display: inline;
	padding: 1px 10px 1px 10px;
}
.sushi {
	background-color: blueviolet;
	display: inline;
	padding: 1px 10px 1px 10px;
}

